<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.liveperson.messagingSDK"
        version="2.8.4.5.1297-xcode91">

  <name>lpMessagingSDK</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/lpMessagingSDK.js" target="js/lpMessagingSDK.js"/>


  <js-module src="www/lpMessagingSDK.js" name="lpMessagingSDK">
    <clobbers target="lpMessagingSDK" />
  </js-module>

  <!-- Android -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="LPMessagingSDK" >
        <param name="android-package" value="com.liveperson.plugin.LPMessagingSDK"/>
      </feature>
    </config-file>

        <!--  AndroidManifest Changes - Permissions-->
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET"/>
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    </config-file>

        <!-- LivePerson Android SDK -->
        <framework src="src/android/lpMessagingBuild.gradle" custom="true" type="gradleReference"/>

        <!--  Plugin Code -->
        <source-file src="src/android/LPMessagingSDK.java" target-dir="src/com/liveperson/plugin/" />

        <resource-file src="src/android/res/values/branding.xml" target="res/values/branding.xml"/>
        <resource-file src="src/android/res/values/colors.xml" target="res/values/colors.xml"/>
        <resource-file src="src/android/res/values/styles.xml" target="res/values/styles.xml"/>
  </platform>



  <!-- iOS -->
  <platform name="ios">
      <config-file target="config.xml" parent="/*">
          <feature name="LPMessagingSDK" >
              <param name="ios-package" value="LPMessagingSDKPlugin"/>
          </feature>
      </config-file>
      <!-- <framework src="src/ios/frameworks/LPAMS.framework" custom="true" />
      <framework src="src/ios/frameworks/LPInfra.framework" custom="true" />
      <framework src="src/ios/frameworks/LPMessagingSDK.framework" custom="true" /> -->
      <resource-file src="src/ios/frameworks/LPMessagingSDKModels.bundle" custom="true"/>
      <source-file src="src/ios/LPMessagingSDKPlugin.swift" />
      <!--<source-file src="src/ios/LPMessagingSDKCallBackWrapper.swift" />
      <source-file src="src/ios/ContainerViewController.swift" />-->
      <source-file src="src/ios/LPSDKCordovaSample-Bridging-Header.h" />
  </platform>

</plugin>